<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<header  class="" th:include="fragments :: menu"/>
<div class="container-xl bg-light bg-gradient" style="height:800px;">
<h1 th:text="|Wybierz magazyn do którego chcesz dodać lub usunąć użytkownika: ${user.firstName} ${user.lastName}|">Wybierz magazyn do którego chcesz dodać użytkownika:</h1>
    <table class="table table-bordered">


    <tr th:each="warehouse:${warehouseList}">
        <td th:text="${warehouse.warehouseName}">Nazwa magazynu</td>
        <td>
            <a th:href="@{'/add_to_warehouse/'+${warehouse.warehouse_id}+'/user/'+${user.id}}">Dodaj</a>
        </td>
        <td>
            <a th:href="@{'/remove_from_warehouse/'+${warehouse.warehouse_id}+'/user/'+${user.id}}">Usun</a>
        </td>
    </tr>
</table>
</div>
</body>
</html>