<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<header id="header" class="alt" th:include="menu :: title-menu" />
<table>
    <form method="post" action="/save" th:object="${product}">
        <tr><td>Nazwa:</td><td> Cena standardowa:</td><td>Jednostka:</td></tr>
        <tr>
            <td><input type="text" th:field="*{productName}" required></td>
            <td><input type="text" th:field="*{unitStandardPrice}"></td>
            <td>
                <select th:field="*{unit}" required>
                    <option th:each="unit:${unitList}" th:value="${unit.id}" th:text="${unit.unitName}"></option>
                </select>
            </td>
        </tr>
        <tr><button type="submit">Zapis</button></tr>
    </form>
</table>
</body>
</html>