<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="menu">
    <table>
        <tr>
            <td><a th:href="@{/show_delivery_list}">Dostawy</a></td>
            <td> <a th:href="@{/allprod}">Produkty</a></td>
            <td> <a th:href="@{/purchaseorder_list}">Zamówienia zakupu</a></td>
            <td> <a th:href="@{/show_all_sales_orders}">Zamówienia sprzedaży</a></td>
            <td> <a th:href="@{/show_all_products_stock_value}">Stany magazynowe</a></td>
            <td> <a th:href="@{/show_all_customers}">Lista klientów</a></td>
        </tr>
    </table>
</div>

<br><br>
<h1>Dodaj nowego klienta</h1>
<table border="1 solid">
    <form method="post" action="/save_customer" th:object="${customer}">
        <tr><td>Imie:</td><td>Nazwisko:</td><td>Adres email:</td><td>Telefon</td></tr>
        <tr>
            <td><input type="text" th:field="*{firstName}" required></td>
            <td><input type="text" th:field="*{lastName}" required></td>
            <td><input type="text" th:field="*{email}"></td>
            <td><input type="text" th:field="*{phone}"></td>
        </tr>
        <tr><td><button type="submit">Zapis</button></td></tr>
    </form>
</table>
</body>
</html>