<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: html_head"/>
<body>
<header  class="" th:include="fragments :: menu"/>
<div class="container-xl bg-light bg-gradient" >
<br>
<h1>Dodaj nowego klienta</h1>
    <table class="table table-bordered">
    <form method="post" action="/save_customer" th:object="${customer}">
        <tr><td>Imie:</td><td>Nazwisko:</td><td>Adres email:</td><td>Telefon</td></tr>
        <tr>
            <td><input type="text" th:field="*{firstName}" required></td>
            <td><input type="text" th:field="*{lastName}" required></td>
            <td><input type="text" th:field="*{email}"></td>
            <td><input type="text" th:field="*{phone}"></td>
        </tr>
        <tr><td><button type="submit">Zapis</button></td></tr>
    </form>
</table>
    <br>
</div>
</body>
</html>