<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<header  class="" th:include="fragments :: menu"/>
<div class="container-xl bg-light bg-gradient">
<h1 th:text="|Edytujesz ${orderDelivery.deliveryName}|">Edytujesz</h1>
<form method="post" action="/save_edited_delivery" th:object="${orderDelivery}">
    <table class="table table-bordered">
        <div>
            <tr><td>Nazwa dostawy:</td><td>Data dostawy:</td><td>Zamowienie zakupu</td><td>Dostawcy:</td><td>Magazyn</td></tr>
            <tr>
                <input th:field="*{id}" type="hidden">
                <td><input type="text" th:field="*{deliveryName}" required></td>
                <td><input type="date" th:field="*{deliveryDate}" required></td>
                <td>
                    <select th:field="*{purchaseOrder}" required>
                        <option th:each="purchase_order:${purchaseOrderList}" th:value="${purchase_order.id}" th:text="${purchase_order.purchaseOrderName}"></option>
                    </select>
                </td>
                <td>
                    <select th:field="*{vendor}">
                        <option th:each="vendor:${vendorList}" th:value="${vendor.id}" th:text="${vendor.companyName}"></option>
                    </select>
                </td>
                <td>
                    <select th:field="*{warehouse}" required>
                        <option th:each="warehouse:${warehouseList}" th:value="${warehouse.warehouse_id}" th:text="${warehouse.warehouseName}"></option>
                    </select>
                </td>
            </tr>
            <tr><td>Produkty w dostawie:</td></tr>
            <tr>
                <td>LP:</td><td>Produkt</td><td>Ilość</td>
            </tr>
            <tr th:each="line, lineStat:*{deliveryLineList}">

                <td><p th:text="${lineStat.index+1}">1</p></td>
                <td>
                    <select th:field="*{deliveryLineList[__${lineStat.index}__].product}">
                        <option th:each="product:${productList}"
                                th:value="${product.id}"
                                th:text="${product.productName}">One</option>
                    </select>
                </td>
                <td>
                    <input th:field="*{deliveryLineList[__${lineStat.index}__].id}" type="hidden">
                    <input th:field="*{deliveryLineList[__${lineStat.index}__].deliveredAmount}"></td>
                </td>
                <input th:field="*{deliveryLineList[__${lineStat.index}__].orderDelivery}" type="hidden">
                <td><button type="submit" th:name="remove_line" th:value="${lineStat.index}">Usun</button></td>
            </tr>
            <td><button type="submit" name="add_line">Dodaj linię</button></td><td><button type="submit">Zapis</button></td>
        </div>
        <tr>
        </tr>
    </table>
</form>
</div>
</body>
</html>