<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="header" class="alt" th:include="menu :: title-menu" />
<table>
    <form method="post" action="/save_customer" th:object="${customer}">
        <tr><td>Imie:</td><td> Nazwisko:</td><td>Email:</td><td>Telefon:</td></tr>
        <tr>
            <input type="hidden" th:field="*{id}">
            <td><input type="text" th:field="*{firstName}" required></td>
            <td><input type="text" th:field="*{lastName}" required></td>
            <td><input type="text" th:field="*{email}"></td>
            <td><input type="text" th:field="*{phone}"></td>
        </tr>
        <tr><button type="submit">Zapis</button></tr>
    </form>
</table>
</body>
</html>