<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<header id="header" class="alt" th:include="menu :: title-menu" />
<div class="container-xl bg-light bg-gradient">
<form th:action="@{/login}" method="post">
      <div class="mb-3"><label> User Name :   </label><input type="text" name="username"/></div>
      <div class="mb-3"><label> Password:  </label><input type="password" name="password"/> </div>
      <div><input type="submit" value="Sign In"/></div>
</form>
<br>
<td><a th:href="@{/register}">Utwórz konto</a></td>
</div>
</body>
</html>