<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<header  class="" th:include="fragments :: menu"/>
<div class="container-xl bg-light bg-gradient" style="height:800px;">
<form th:action="@{/login}" method="post">
      <div class="mb-3"><label> User Name :   </label><input type="text" name="username"/></div>
      <div class="mb-3"><label> Password:  </label><input type="password" name="password"/> </div>
      <div><input type="submit" value="Sign In"/></div>
</form>
<br>
<a th:href="@{/register}">Utwórz konto</a>
</div>
</body>
</html>