<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<header  class="" th:include="fragments :: menu"/>
<div class="container-xl bg-light bg-gradient" style="height:800px;">
    <h1 class="login-header">Zarejestruj się</h1>
    <form action="/register" method="post" th:object="${user}">
        <input th:field="*{email}" placeholder="Adres Email / Nazwa użytkownika" type="email">
        <input th:field="*{password}" placeholder="hasło" type="password">
        <input th:field="*{firstName}" placeholder="Imię">
        <input th:field="*{lastName}" placeholder="Nazwisko" >
        <button type="submit">Zarejestruj się</button>
    </form>
</div>

</body>
</html>