<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<header  class="" th:include="fragments :: menu"/>
<div class="container-xl bg-light bg-gradient" style="height:800px;">
<h1>Produkty:</h1>
<a th:href="@{/addprod}">Dodaj produkt</a>
<table class="table table-bordered">

    <thead><td>Nazwa produtu</td><td>Opcje</td></thead>
    <tr th:each="product:${listOfProducts}">
        <td th:text="${product.productName}">Nazwa produktu</td>
        <td>
            <a th:href="@{'/edit_product/'+${product.id}}">Edytuj produkt</a>
            <a th:href="@{'/delete_product/'+${product.id}}">Usun</a>
        </td>
    </tr>
</table>
</div>
</body>
</html>