<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<header  class="" th:include="fragments :: menu"/>
<div class="container-xl bg-light bg-gradient" style="height:800px;">
<h1>Klienci:</h1>
<a th:href="@{/add_customer}">Dodaj nowego klienta</a>
<table class="table table-bordered">

    <tr><td>Nazwisko klienta</td><td>Opcje</td></tr>
    <tr th:each="customer:${customerList}">
        <td th:text="|${customer.firstName} ${customer.lastName}|">Nazwisko klienta</td>
        <td>
            <a th:href="@{'/edit_customer/'+${customer.id}}">Edytuj</a>
            <a th:href="@{'/delete_customer/'+${customer.id}}">Usun</a>
        </td>
    </tr>
</table>
</div>
</body>
</html>