<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<header  class="" th:include="fragments :: menu"/>
<div class="container-xl bg-light bg-gradient" style="height:800px;">
<h1>Lista magazynów</h1>
<table class="table table-bordered">
    <thead><td>Nazwa magazynu</td><td>Opcje</td></thead>
    <tr th:each="warehouse:${warehouseList}">
        <td th:text="${warehouse.warehouseName}">Nazwa magazynu</td>
        <td><a th:href="@{'/edit_warehouse/'+${warehouse.warehouse_id}}">Zmien nazwę magazynu</a></td>
    </tr>
</table>
<br>
<br>

</body>
</html>