<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<header  class="" th:include="fragments :: menu"/>
<div class="container-xl bg-light bg-gradient" style="height:800px;">
<h1>Dostawy:</h1>
<a th:href="@{/add_new_delivery}">Wprowadź dostawę</a>
<table class="table table-bordered">

    <thead><td>Nazwa dostawy</td><td>Data dostawy</td><td>Opcje</td></thead>
    <tr th:each="delivery:${orderDeliveryList}">
        <td th:text="*{delivery.deliveryName}">Nazwa dostawy</td>
        <td th:text="*{delivery.deliveryDate}">deliveryDate</td>
        <td>
            <a th:href="@{'/edit_delivery/'+${delivery.id}}">Edytuj dostawe</a>
            <a th:href="@{'/delete_delivery/'+${delivery.id}}">Usun dostawe</a>
        </td>
    </tr>
</table>
</div>
</body>
</html>