<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<header  class="" th:include="fragments :: menu"/>
<div class="container-xl bg-light bg-gradient" style="height:800px;">
<h1 style="padding-top:10px">Użytkownicy:</h1>
<!--<a th:href="@{/addprod}">Dodaj produkt</a>-->
<table class="table table-bordered">

    <thead><td>Nazwisko uzytkownika</td><td>Opcje</td></thead>
    <tr th:each="user:${userList}">
        <td th:text="|${user.firstName} ${user.lastName}|">Nazwisko uzytkownika</td>
        <td>
            <a th:href="@{'/users_warehouse_list/'+${user.id}}">Lista magazynów</a>
            <a th:href="@{'/delete_user/'+${user.id}}">Usun</a>
        </td>
    </tr>
</table>
    <br>
</div>

</body>
</html>