<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<header id="header" class="alt" th:include="menu :: title-menu" />
<h1>Lista magazynów</h1>
<table border="1 solid">
    <tr th:each="warehouse:${warehouseList}">
        <td th:text="${warehouse.warehouseName}">Nazwa magazynu</td>
        <td><a th:href="@{'/edit_warehouse/'+${warehouse.warehouse_id}}">Zmien nazwę magazynu</a></td>
    </tr>
</table>
<br>
<br>

</body>
</html>