<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<header  class="" th:include="fragments :: menu"/>
<div class="container-xl bg-light bg-gradient" style="height:800px;">
<h1 th:text="|Magazyny dostępne dla uzytkownika ${user.firstName} ${user.LastName}|">:</h1>
<table class="table table-bordered">
    <tr th:each="warehouse:${warehouseList}">
        <td th:text="${warehouse.warehouseName}">Nazwa magazynu</td>
    </tr>
</table>
<br>
<br>
<a th:href="@{'/add_user_to_warehouse/'+${user.id}}">Przypisz/usuń magazyn</a>
</div>
</body>
</html>